@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  /* background-color: #ffffff; */
  color: #202020;
  box-sizing: border-box;
}
body {
  margin: 0;
}

* .dark-mode {
  background-color: #222222;
  color: #faf4e6;
}

.navbar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100vw;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.navbar-left,
.navbar-center,
.navbar-right {
  margin: 0 20px;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  display: block;
  top: 50px;
  max-width: 1024px;
  margin: auto;
  background-color: burlywood;
}

h1 {
  display: block;
  margin: auto;
}

.main-text {
  background-color: cadetblue;
}
