html,
body {
  overflow: visible;
}

main {
  margin-top: 80px;
}

.main-text,
form {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.left-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: small;
}

input {
  padding: 12px;
  margin-top: 12px;
  background-color: transparent;
  border: 1px solid var(--color-gray-1);
  border-radius: 4px;
  color: var(--color-gray-0);
  transition-duration: 0.4s;
}

textarea {
  height: 100px;
  padding: 12px;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  resize: none;
  transition-duration: 0.4s;
}

::placeholder {
  color: var(--color-gray-1);
  opacity: 1; /* Firefox */
}

button {
  margin-top: 12px;
  padding: 12px;
  background-color: var(--color-gray-3);
  border: 1px solid var(--color-gray-1);
  border-radius: 4px;
  color: white;
  transition-duration: 0.4s;
}

input:hover,
textarea:hover,
button:hover {
  border: 1px solid var(--color-red);
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border: 1px solid var(--color-red);
  background-color: var(--color-gray-3);
}

.footer-info {
  position: static;
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  main {
    margin-top: 60px;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
