main {
  margin-top: 70px;
}

.main-text,
form {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.left-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: small;
}

input,
select {
  padding: 12px;
  background-color: transparent;
  border: 1px solid darkgray;
  border-radius: 4px;
  color: darkgray;
  transition-duration: 0.4s;
}

textarea {
  height: 100px;
  padding: 12px;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  resize: none;
  transition-duration: 0.4s;
}

::placeholder {
  color: darkgray;
  opacity: 0.8; /* Firefox */
}

button {
  margin-top: 12px;
  padding: 12px;
  background-color: var(--color-gray-3);
  border: 1px solid darkgray;
  border-radius: 4px;
  color: white;
  transition-duration: 0.4s;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 1px solid red;
}
